.inclusions {
    list-style: none;
    fill: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}
.hide {
    display: none;
}
.icon{
    filter: invert(100%);
}
